
html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--light-gray);
}

.testimonials-content {
  max-width: 900px;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: "area-daniel area-daniel area-jonathan area-kira"
                       "area-jeanette area-patrick area-patrick area-kira";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 1fr;
  gap: 2em;
}

.area-daniel {
  grid-area: area-daniel;
  background-color: var(--moderate-violet);
}

.area-jonathan {
  grid-area: area-jonathan;
  background-color: var(--very-dark-grayish-blue);
}

.area-kira {
  grid-area: area-kira;
  background-color: var(--white);
}

.area-jeanette {
  grid-area: area-jeanette;
  background-color: var(--white);
}

.area-patrick {
  grid-area: area-patrick;
  background-color: var(--very-dark-blackish-blue);
}

.witness-information {
  display: flex;

  margin-bottom: 1rem;
}

.testimonial {
  padding: 15px;
  border-radius: 10px;
}

.witness-information .user-photo, .witness-information .pattern {
  width: 32px;
  height: 32px;
}

.witness-information .user-photo {
  border-radius: 50%;
  border: 1px solid var(--white);
}

.testimonial-information .title{
  color: var(--white);
  font-size: 1.1em;
}

.testimonial-information .testimonial-text {
  font-size: .9em;
  color: var(--light-gray);
}

.attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }