html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--light-gray);
}

.testimonials-content {
  max-width: 900px;
  margin: 5% auto;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "area-daniel area-daniel area-jonathan area-kira"
    "area-jeanette area-patrick area-patrick area-kira";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 1fr;
  gap: 1em;
}

@media (max-width: 425px) {
  .testimonials-content {
    grid-template-areas:
        "area-daniel"
        "area-jeanette"
        "area-jonathan"
        "area-patrick"
        "area-kira";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}
}

.area-daniel {
  grid-area: area-daniel;
  background-color: var(--moderate-violet);
}

.area-jonathan {
  grid-area: area-jonathan;
  background-color: var(--very-dark-grayish-blue);
}

.area-patrick {
  grid-area: area-patrick;
  background-color: var(--very-dark-blackish-blue);
}

.area-daniel,
.area-jonathan,
.area-patrick {
  color: var(--white);
}

.area-daniel .title,
.area-jonathan .title,
.area-patrick .title {
  margin-bottom: 1rem;
  font-size: 1.1em;
  font-weight: 600;
}

.area-daniel .testimonial-text,
.area-jonathan .testimonial-text,
.area-patrick .testimonial-text {
  color: var(--white-transparent);
  font-size: 0.8em;
  line-height: 1.2em;
}

.area-kira {
  grid-area: area-kira;
  background-color: var(--light-grayish-blue);
}

.area-kira,
.area-jeanette {
  color: var(--very-dark-grayish-blue);
}

.area-kira .title,
.area-jeanette .title {
  color: var(--very-dark-grayish-blue);
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.1em;
}

.area-kira .testimonial-text,
.area-jeanette .testimonial-text {
  color: var(--very-dark-blackish-blue-transparent);
  font-size: 0.8em;
  line-height: 1.2em;
}

.area-jeanette {
  grid-area: area-jeanette;
  background-color: var(--white);
}

.witness-information {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.testimonial {
  padding: 15px;
  border-radius: 10px;
}

.witness-information .user-photo,
.witness-information .pattern {
  width: 32px;
  height: 32px;
}

.witness-information .user-photo {
  border-radius: 50%;
  border: 1px solid var(--white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
